[Service]
SyslogIdentifier=fail2ban-flies
ExecStart=CHANGEME/bin/fail2ban-flies-receiver.py
Restart=always
StandardOutput=syslog
StandardError=syslog
User=root
Group=root
RestartSec=2

[Unit]
StartLimitInterval=2

[Install]
WantedBy=multi-user.target
